@font-face {
  font-family: 'Graphik-Medium';
  src: local('Graphik-Medium'), url(./fonts/Graphik-Medium-Trial.otf) format('truetype');
}
@font-face {
  font-family: 'Graphik-Light';
  src: local('Graphik-Light'), url(./fonts/Graphik-Light-Trial.otf) format('truetype');
}
@font-face {
  font-family: 'Graphik-Thin';
  src: local('Graphik-Thin'), url(./fonts/Graphik-Thin-Trial.otf) format('truetype');
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}


:root{
  --red:#d63a25;
  --white:#fff;
  --dark:#1e1c2a;
}

.home{
  background-color: #121212;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.home2 {
  height: 100%;
  width: 100%;
  background-color: rgb(235, 235, 235);
}


.home-text{
  width: 100%;
}

.home-text .text-h1{
  width: 100%;
  font-family: "Graphik-Light";
  font-weight: 100px;
  color: #ffffff;
  font-size: 5rem;
  
}

.home-text .text-h12{
  width: 100%;
  font-family: "Graphik-Light";
  font-weight: 100px;
  font-size: 5rem;
  background: -webkit-linear-gradient(45deg, rgba(252, 230, 38, 1) -100% , rgba(243, 90, 155, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.home-text p{
  font-family: "Graphik-Light";
  margin-top: 3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 4rem;
}
.home-btn{
  padding: 15px 45px;
  background:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: 700;
  margin-left: 1rem;
  transition: all 0.5s;
}
.home-btn:hover{
  background: #d4d4d4;
  color: rgb(0, 0, 0);
}

.home-btn2{
  border:  1px solid white;
  padding: 15px 45px;
  background: #121212;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: 700;
  margin-left: 1rem;
  transition: all 0.5s;
}

.home-btn2:hover{
  background: #d4d4d41f;
  color: #ffffff;
}


.home-img img{
  width: 40rem;
  border-radius: 50px;
  margin-left: 5rem;
}

/*==================================================================*/

.home2 {
 background-color: #121212;
  height: 70rem;
}



.text-h2 {
  
  display: flex;
  font-size: 4rem;
  font-family: "Graphik-Thin";
color: white;
justify-content: center;
}
.text-h2-2 {
  display: flex;
  font-size: 4rem;
  font-family: "Graphik-Thin";
color: white;
justify-content: center;
background: -webkit-linear-gradient(45deg, rgba(252, 230, 38, 1) -50% , rgba(243, 90, 155, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.Cards-all {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  gap: 3rem;
  flex-direction: row;
}

.card { 
  max-width: 350px;
  border-radius: 0.5rem;
  background-color: #242424;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 320px;
 
  outline: 1px solid black;
}

.image1 {
  object-fit: cover;
  width: 100%;
  height: 320px;
  outline: 1px solid black;
}

.image2 {
  object-fit: cover;
  width: 100%;
  height: 320px;
 
  outline: 1px solid black;
}

.title1 {
  font-family: "Graphik-Light";
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 500;
margin-bottom: 2rem;
}

.title2 {
  font-family: "Graphik-Light";
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.title3 {
  font-family: "Graphik-Light";
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.desc {
  font-family: "Graphik-Light";
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #121212;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #fdfdfd;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
  background-color: #fdfdfd;
}

/*================================================================================*/

.home3   {
  width: 100%;
  height: 70rem;
  
}

.divhome3 {
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
  
}

.h1home3 {
  display: flex;
  justify-content: center;
align-items: center;
  font-family: "Graphik-Thin";

  color: #ffffff;
  font-size: 3.5rem;
}

.h1-2home3 {
  display: flex;
  justify-content: center;
align-items: center;
  font-family: "Graphik-Thin";
  background: -webkit-linear-gradient(45deg, rgba(252, 230, 38, 1) -50% , rgba(243, 90, 155, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 11rem;
}

.h2home3 {
  display: flex;
  justify-content: center;
align-items: center;
  font-family: "Graphik-Thin";
margin-top: 1rem;
  color: #ffffff;
  font-size: 2rem;
}